body{
    font-family: 'poppings', sans-serif;
}
    
h1{
    font-size: 50px;
}

.blue-highlight{
    color: blueviolet;
}

.blu-highlight{
    color: blueviolet;
    text-align: left;
}


.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}

section{
    height: 550px;
    padding-bottom: 5px;
}

.button-one{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    background: linear-gradient(45deg, lightsalmon, tomato);
}

h2{
    font-size: 40px;
}


.single-experience{
    box-shadow: 10px 10px 40px gray ;
    border-radius: 5px;
    height: 50%;
    width: 33%;
    margin-left: 90px;
    float: left;
    padding: 20px;
    background-color: white;
}

.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#beginner-dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon, tomato);
    border-image-slice: 1;
}

.orange-highlight{
    color: orange;
}

#student-nine{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}

.cover{
    width: 900px;
    height: 400px;
    margin: 0;
    font-family: 'poppings', sans-serif;
    align-items: center;
    display: flex;
}


.box{
    width: 800px;
    height: 300px;
    margin: 40px 40px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    padding-left: 50px;
    box-shadow: 20px 20px 40px gray;
    flex: left;
}
    

.cover img{
    width: 300px;
    height: 200px;
    
}

.button-2{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    background: linear-gradient(45deg, lightsalmon, tomato);
}



.hedding-001{
    text-align: center;
    color: gray;
    margin-top: 10px;
}

.hedding-01{
    text-align: center;
    color: #000;
}

.icons{
   display: inline block;
   text-align: center;
}

#portfolio{
    color: #fff;
}

.starter{
    background-color: #f13b78;
    color: blueviolet;
    text-align: left;
    border-radius: 5px;
}

#dott{
color: gold;
}

#footer{
    text-align: center;
}

.section--{
    padding-bottom: 1px;
}